requests
rsa>=4.7
kubernetes
click
PyYAML
graphitesend
prometheus_client
pyopenssl
setuptools
pytest>=3.6
pytest-cov
pytest-mock
requests-mock
alchemy-logging>=1.0.3
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
